@import url('https://fonts.googleapis.com/css?family=Outfit');

.navbar {
  width: 100%;
  height: 100px;
  background: #21325e;
  font-family: 'Outfit', sans-serif; /* Apply the Outfit font here */
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #162257;
  transition: background-color 0.3s, border-color 0.3s;
}



.links a {
  padding: 10px 20px;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 25px;
  transition: background-color 0.3s, border-color 0.3s;
}

.links a:hover {
  background-color: #3c497c;
}

.toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggleButton button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 50px;
}

#open {
  height: 330px;
}

#open .links {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
}

#open a {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .navbar a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .toggleButton {
    display: flex;
  }
  #close .links a {
    display: none; /* Ensure this is specific enough to target the correct element state */
  }
}

@media only screen and (min-width: 600px) {
  .toggleButton {
    display: none;
  }
  #close .links a, #open .links a {
    display: block; /* Make sure links are visible when appropriate */
  }
}

